<div class="row">
    <div class="col"></div>
        <div class="col-md-3">

            <h1 class="text-center">Login!</h1>

            <div>
                <p><%= flash[:error] %></p>
            </div>

            <div>
                <%= form_for(:user) do |f| %>
                    <%= f.label :username %>
                    <%= f.text_field :username, class: 'form-control' %>
                    <br>

                    <%= f.label :password %>
                    <%= f.password_field :password, class: 'form-control' %>
                    <br>

                    <%= f.submit 'Login', class:'btn btn-sm btn-success' %>

                <% end %>
            </div>

        </div><!-- col-md-3 -->
    <div class="col"></div>
</div><!-- .row -->