<div class="row">
    <div class="col"></div>
        <div class="col-md-4">

            <%= render partial: 'layouts/errors', locals: {object: @product} %>

            <div>
                <%= form_for(@product) do |f| %>
                    <%= f.label :name %>
                    <%= f.text_field :name, class: 'form-control' %>
                    <br>

                    <%= f.label :brand %>
                    <%= f.text_field :brand, class: 'form-control' %>
                    <br>

                    <%= f.label :description %>
                    <%= f.text_area :description, class: 'form-control' %>
                    <br>

                    <div>
                        <p>Select a category that already exists: </p>
                        <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "Select Category", class: 'form-control' %>
                    </div>
                    
                    <div>
                        <p>Or create a new category: </p>
                            <%= f.fields_for :category do |c| %>
                                <%= c.label :name %>
                                <%= c.text_field :name, class: 'form-control' %>
                            <% end %>
                    </div>
                    <br>

                    <%= f.submit class:'btn btn-sm btn-success' %>

                <% end %>
            </div>

        </div><!-- col-md-4 -->
    <div class="col"></div>
</div><!-- .row -->