<% if params[:product_id] %>
    <h1>Write a Review for <%= @review.product.name%>!</h1>
<% else %>
    <h1>Write a Review!</h1>
<% end %>

<div>
    <%= form_for(@review) do |f| %>
        <%= f.label :stars %>
        <%= f.number_field :stars, min: 0, max: 5 %>
        <br>

        <%= f.label :title %>
        <%= f.text_field :title %>
        <br>

        <%= f.label :content %>
        <%= f.text_area :content, size: "40x10" %>
        <br>

        <%= f.hidden_field :product_id %>

        <%= f.submit 'Create Review' %>

    <% end %>
</div>