<div class="row">
    <div class="col"></div>
        <div class="col-md-6">

            <h1>Review for <%= @review.product.name %></h1>
            <h3><%= @review.title %> - <%= @review.stars %> Stars</h3>

            <div>
                <h5>Review:</h5>
                <p><%= @review.content %></p>
                <em>Created: <%= @review.created_at.strftime('%b %e, %Y %l:%M %p') %></em>
            </div>
               
        </div><!-- col-md-6 -->
    <div class="col"></div>
</div><!-- .row -->