<!DOCTYPE html>
<html>
  <head>
    <title>ReviewIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <nav>
        <%= render_nav_bar_links %>
      </nav>

      <%= yield %>

    </div>
    
  </body>
</html>
